@use "../variables";

.main-section {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;

    header {
        z-index: 1;
        flex: 0 0 5.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.6rem;

        @media screen and (min-width: variables.$mobile) {
            flex: 0 0 13.6rem;
            padding: 0 5.6rem;
        }

        img {
            height: 2.4rem;

            @media screen and (min-width: variables.$mobile) {
                height: 4rem;
            }
        }

        .lang-selector-wrp {
            position: relative;
            display: none;
            width: 6rem;
            height: 3rem;

            @media screen and (min-width: variables.$mobile) {
                display: block;
            }

            .decoration {
                position: absolute;
                left: 50%;
                width: 100%;
                height: 0.4rem;
                transform: translateX(-50%);
                transition: top variables.$transition;
                background-color: variables.$color-primary;

                &.top {
                    top: 0;
                }

                &.bottom {
                    top: 2.6rem;
                }
            }

            .lang-selector {
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 1.6rem;

                .lang-item {
                    cursor: pointer;
                    font-family: variables.$font-amiro;
                    font-size: 1.6rem;
                    color: variables.$border-color;
                    text-transform: uppercase;
                    transition: color variables.$transition;

                    &.active {
                        color: variables.$color-white;
                    }

                    &:hover {
                        color: variables.$color-primary;
                    }
                }
            }

            &.mobile {
                display: block;
                width: 2.4rem;
                height: 2.5rem;
                overflow: hidden;
                transition: width variables.$transition;

                @media screen and (min-width: variables.$mobile) {
                    display: none;
                }

                &.open {
                    width: 7rem;
                }

                .decoration {
                    height: 0.3rem;
                    width: 115%;
                }

                .lang-selector {
                    position: absolute;
                    top: 0;
                    right: 0.2rem;
                    column-gap: 2.4rem;

                    .lang-item {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .content {
        z-index: 10;
        position: relative;
        transform: none;
        flex: 0 0 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        left: 0;
        top: 30vh;
        text-shadow: 0 0 1rem variables.$bg;

        @media screen and (min-width: variables.$desktop) {
            flex: 1 0 auto;
            top: unset;
            width: 50%;
            margin-left: auto;
        }

        .decorations {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 80vh;

            @media screen and (min-width: variables.$tablet) {
                width: 79.1rem;
                height: 73.1rem;
            }

            .horizontal-rectangles,
            .vertical-rectangles {
                position: absolute;
                width: 0;
                left: 50%;
                height: 100%;

                @media screen and (min-width: variables.$tablet) {
                    left: 0;
                    width: 100%;
                }
            }

            .rectangle {
                position: absolute;
                border: 0.1rem solid variables.$color-white;
                transition: transform variables.$linear-transition;
            }

            .horizontal-rectangles {
                .rectangle {
                    height: 1.2rem;

                    @media screen and (min-width: variables.$tablet) {
                        height: 3.8rem;
                    }

                    &:nth-child(1) {
                        top: 28.6rem;
                        left: -15rem;
                        width: 23rem;

                        @media screen and (min-width: variables.$tablet) {
                            top: 18.9rem;
                            left: 10.4rem;
                            width: 48.7rem;
                        }
                    }

                    &:nth-child(2) {
                        top: 31.7rem;
                        left: -8rem;
                        width: 22.3rem;

                        @media screen and (min-width: variables.$tablet) {
                            top: 31.7rem;
                            left: 10.4rem;
                            width: 68.7rem;
                        }
                    }

                    &:nth-child(3) {
                        top: 38.6rem;
                        left: -17rem;
                        width: 33.1rem;

                        @media screen and (min-width: variables.$tablet) {
                            top: 38.2rem;
                            left: 15.6rem;
                            width: 41.5rem;
                        }
                    }

                    &:nth-child(4) {
                        top: 44.8rem;
                        left: -11rem;
                        width: 17.5rem;

                        @media screen and (min-width: variables.$tablet) {
                            top: 44.8rem;
                            left: 0;
                            width: 44.5rem;
                        }
                    }

                    &:nth-child(5) {
                        top: 41.8rem;
                        left: -20rem;
                        width: 29.3rem;

                        @media screen and (min-width: variables.$tablet) {
                            display: none;
                        }
                    }
                }
            }

            .vertical-rectangles {
                .rectangle {
                    width: 1.2rem;

                    @media screen and (min-width: variables.$tablet) {
                        width: 3.8rem;
                    }

                    &:nth-child(1) {
                        top: 23rem;
                        left: -3.2rem;
                        height: 25.6rem;

                        @media screen and (min-width: variables.$tablet) {
                            top: 0;
                            left: 18.8rem;
                            height: 51.5rem;
                        }
                    }

                    &:nth-child(2) {
                        display: none;
                        top: 44.8rem;
                        left: 25.7rem;
                        height: 13.4rem;

                        @media screen and (min-width: variables.$tablet) {
                            display: block;
                        }
                    }

                    &:nth-child(3) {
                        top: 21rem;
                        left: 50%;
                        height: 30.1rem;
                        transform: translateX(-50%);

                        @media screen and (min-width: variables.$tablet) {
                            top: 27rem;
                            left: 36.3rem;
                            height: 46.1rem;
                            transform: translateX(0);
                        }
                    }

                    &:nth-child(4) {
                        top: 28.6rem;
                        left: 2rem;
                        height: 25.3rem;

                        @media screen and (min-width: variables.$tablet) {
                            top: 13.8rem;
                            left: 49.4rem;
                            height: 40.8rem;
                        }
                    }

                    &:nth-child(5) {
                        display: none;
                        top: 27rem;
                        left: 60.1rem;
                        height: 20rem;

                        @media screen and (min-width: variables.$tablet) {
                            display: block;
                        }
                    }
                }
            }
        }

        .title {
            position: absolute;
            width: 100%;
            height: 80vh;

            @media screen and (min-width: variables.$mobile) {
                height: 73.1rem;
            }

            .title__left,
            .title__right {
                position: absolute;
                transition: transform variables.$linear-transition;
                line-height: 8.2rem;
                font-family: variables.$font-amiro;
                font-size: 6.4rem;
                font-weight: 700;
                letter-spacing: 0.768rem;
                color: variables.$color-white;
                text-transform: uppercase;

                @media screen and (min-width: variables.$mobile) {
                    font-size: 9.6rem;
                    line-height: 12.3rem;
                }
            }

            .title__left {
                top: 22rem;
                left: calc(-5rem + 50%);

                @media screen and (min-width: variables.$mobile) {
                    top: 18rem;
                }

                @media screen and (min-width: variables.$desktop) {
                    top: 14.4rem;
                    left: calc(-13.5rem + 50%);
                }
            }

            .title__right {
                top: 30rem;
                right: calc(-5rem + 50%);

                @media screen and (min-width: variables.$mobile) {
                    right: calc(-15rem + 50%);
                }

                @media screen and (min-width: variables.$desktop) {
                    top: 22rem;
                    right: calc(-10rem + 50%);
                }
            }
        }

        .subtitle {
            position: absolute;
            top: 53%;
            width: 100%;
            font-family: variables.$font-source-code-pro;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 6rem;
            text-align: center;
            color: variables.$color-white;

            &::first-letter,
            span {
                font-family: variables.$font-pixelify-sans;
            }

            @media screen and (min-width: variables.$desktop) {
                right: 38rem;
                width: unset;
                transform: translateX(0);
                text-align: left;
                font-size: 8rem;
                font-weight: 600;
                line-height: 9.6rem;
            }
        }
    }

    .background-a,
    .background-b,
    .background-a-outer,
    .background-a-inner {
        position: absolute;
        pointer-events: none;
    }

    .background-a-outer {
        width: 100%;
        height: 100%;
        background: url("assets/jpg/astronaut-back-tablet.jpg") no-repeat center center / cover;

        @media screen and (min-width: variables.$desktop) {
            width: 80%;
            background-image: url("assets/jpg/astronaut-back.jpg");
        }

        .bottom-gradient {
            position: absolute;
            bottom: -0.1rem;
            left: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(to top, variables.$bg 10%, rgba(0, 0, 0, 0) 100%);
        }

        .right-gradient {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 30%;
            height: 100%;
            background: linear-gradient(to left, variables.$bg 10%, rgba(0, 0, 0, 0) 100%);

            @media screen and (min-width: variables.$desktop) {
                display: block;
            }
        }
    }

    .background-a {
        width: 100%;
        height: 100%;
        // mix-blend-mode: lighten;
        background: url("assets/svg/bg/stars.svg") no-repeat center center / cover;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("assets/png/astronaut-tablet.png") no-repeat center center / cover;

            @media screen and (min-width: variables.$desktop) {
                background-image: url("assets/png/astronaut.png");
            }
        }
    }

    .background-a-inner {
        width: 100%;
        height: 100%;
        background: variables.$bg;
        // farthest-corner at center, rgba(0,0,0,0) 20%, variables.$bg 80%
        mask: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, variables.$bg 80%);
    }

    .background-b {
        width: 100%;
        height: 100%;
        top: 10rem;
    }
}
